<h1 class="pop-items">人気商品</h1>
<div class='item-contents'>
<ul class='item-lists2'>
 <% @items.each do |item| %>
 <% if item.likes.ids.count >= 1 %>
      <li class='list items'>
      <div class='item-img-content'>
      <%= link_to root_path do %>
           <%= image_tag item.image, class:"item-img2" %>
           <% end %>
      </div>

      <div class='item-info'>
         <h3 class='item-name'>
           <%= item.name %>
         </h3>

         <div class="item-price">
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='heart-btn'>
            <% if user_signed_in? && current_user.already_liked?(item) %>
              <%= link_to item_likes_path(item), method: :delete do %>
              <i class="heart-color">♥</i>
              <% end %>
            <% elsif user_signed_in? && current_user.id == item.user_id%>
              <i class="heart-color1">♥</i>
            <% else %>
              <%= link_to item_likes_path(item), method: :post do %>
              <i class="heart-color1">♥</i>
              <% end %>
            <% end %>
            <%= item.likes.count %>
         </div>
      </div>
        <%end%>
        <%end%>
  </li>
 </ul>
</div>
<br>
<%= link_to 'トップページに戻る', root_path, class: "move-to-top"%>
       