<h1 class="pop-items">人気商品</h1>
<div class='item-contents'>
<ul class='item-lists2'>
 <% @ids.each do |id| %>
 <% if id[1] >= 1 %>
      <li class='list items'>
      <div class='item-img-content'>
      <%= link_to item_path(Item.find(id[0]).id) do %>
           <%= image_tag Item.find(id[0]).image, class:"item-img2" %>
           <% end %>
      </div>

      <div class='item-info'>
         <h3 class='item-name'>
           <%= Item.find(id[0]).name %>
         </h3>

         <div class="item-price">
            <span><%= Item.find(id[0]).price %>円<br>(税込み)</span>
            <div class='heart-btn'>
            <% if user_signed_in? && current_user.already_liked?(Item.find(id[0])) %>
              <%= link_to item_likes_path(Item.find(id[0])), method: :delete do %>
              <i class="heart-color">♥</i>
              <% end %>
            <% elsif user_signed_in? && current_user.id == Item.find(id[0]).user_id%>
              <i class="heart-color1">♥</i>
            <% else %>
              <%= link_to item_likes_path(Item.find(id[0])), method: :post do %>
              <i class="heart-color1">♥</i>
              <% end %>
            <% end %>
            <%= Item.find(id[0]).likes.count %>
         </div>
      </div>
        <%end%>
        <%end%>
  </li>
 </ul>
</div>
<br>
<%= link_to 'トップページに戻る', root_path, class: "move-to-top"%>
       