<h1 class="image-to-top">
   <%= link_to image_tag("furima-logo-color.png", class:"furima-icon-search"), root_path %>
</h1>
<h1 class="favorite-items"><%= current_user.nickname %>さんのお気に入り商品</h1>
<div class='item-contents'>
<ul class='item-lists3'>
 <% @likes.each do |like| %>
      <li class='list items'>
      <div class='item-img-content'>
        <%= link_to item_path(like.item.id) do %>
          <%= image_tag like.item.image, class: "item-img" %>
          <% if like.item.order.present? %>
          <div class='sold-out'>
            <span>Sold Out</span>
          </div>
          <% end %>
          </div>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= like.item.name %>
          </h3>
          <div class='item-price'>
            <span><%= like.item.price %>円<br>(税込み)</span>
          <div class='heart-btn'>
          <% if user_signed_in? && current_user.already_liked?(like.item) %>
            <%= link_to item_likes_path(like.item), method: :delete do %>
              <i class="heart-color">♥</i>
            <% end %>
          <% elsif user_signed_in? && current_user.id == item.user_id%>
              <i class="heart-color1">♥</i>
          <% else %>
              <%= link_to item_likes_path(item), method: :post do %>
               <i class="heart-color1">♥</i>
              <% end %>
          <% end %>
          <%= like.item.likes.count %>
          </div>
          
          </div>
        </div>
        <% end %>
        <% end %>
      </li>
       </ul>
       </div>
      <br>
<%= link_to 'トップページに戻る', root_path, class: "move-to-top3"%>