<%# <%= render "shared/header" %>

  <% if @results.length !=0 %>
  <div class ="Q">
  <h1 class="q">
    こちらの商品をお探しでしょうか？
  </h1>
<%= link_to 'はい', "#" ,class: "response" %>
<%= link_to 'いいえ', item_items_search_path, class: "response" %>
</div>
<div class='item-contents'>
 <ul class='item-lists'>
   <% @results.each do |result| %>
    <td>
    <br>
    <li class='list'>
    <% unless result.order.present? %>
    <div class="item-img-content">
      <%= link_to item_path(result.id) do %>
      <%= image_tag result.image, class: "item-img" %>
      <% end %>
    </div>

    <div class='item-info'>
     <h3 class='item-name'>
         <%= result.name %>
     </h3>
     <div class='item-price'>
         <span><%= result.price %>円<br>(税込み)</span>
     </div>        
    </div>
    </li>
    <% else %>
       該当する商品はありません
    <% end %>  
<% end %>
<br>
</ul>
</div>
<% end %>
<%= link_to 'トップページに戻る', root_path, class: "move-to-top" %>

